<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rent a bike</title>
</head>
<body>
<p> <FONT SIZE="+2" COLOR="blue"> Wypożyczalnia rowerów </FONT>
<br>
    <a href="{% url 'home' %}" >Strona główna </a>
</p>
<p>
{% block content %}


{% endblock %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}

            <li> <FONT SIZE="+2" COLOR="green">
                {{ message }} </FONT>
                 </li>


        {% endfor %}
    </ul>
{% endif %}
<hr >
<p> A. Rudenko </p>
</body>
</html>